.bg-btn-red {
    border: 0.18rem solid #BD0707 !important;
    color: white !important;
    background-color: 
    #BD0707 !important;
}

.bg-btn-white {
    border: 0.18rem solid #BD0707 !important;
    color: #BD0707 !important;
}